@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Override rem size */

:root {
    font-size: 11.2px;
}

/* Root variables */

:root {
    --color-900: #F4F4F4;
    /* --color-800: #f3f3f3;
    --color-700: #f6f6f6; */
    /* --color-600: #1e1e36; */
    /* --color-300: #222222;
    --color-200: #111111; */
    --color-100: #62506D;

    --color-accent: #AE8BBF;
}

/* Body */

body {
    font-family: "Poppins", "Montserrat", sans-serif;
    overscroll-behavior-y: contain;
    background-color: var(--color-900);
    color: var(--color-100);
    overflow: hidden;       
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
}

img {
    user-select: none;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

/* Tailwind like classes */

.bg-900 {
    background-color: var(--color-900);
}

.color-900 {
    color: var(--color-900);
}

/* .bg-800 {
    background-color: var(--color-800);
}

.bg-700 {
    background-color: var(--color-700);
} */

.color-accent {
    color: var(--color-accent);
}

.bg-accent {
    background-color: var(--color-accent);
}

.color-100 {
    color: var(--color-100);
}

.bg-100 {
    background-color: var(--color-100);
}

.border-100 {
    border-color: var(--color-100);
}

/* .color-200 {
    color: var(--color-200);
} */

.border-6 {
    border-width: 6px;
}

.border-5 {
    border-width: 5px;
}

.text-5\/5xl {
    font-size: 29pt;
    line-height: 35pt;
}

.placeholder-color::placeholder {
    color: var(--color100);
    opacity: 0.5;
}

.w-18 {
    width: 4.5rem;
}

.h-18 {
    height: 4.5rem;
}

/* Home page mobile header */

@media screen and ( max-height: 600px ) {
    .home-page-mobile-header {
        display: none;
    }
}

/* Home solid shadow */

.home-desktop-solid-shadow {
    box-shadow: 30px 30px 0px 5px var(--color-100)
}

.home-mobile-solid-shadow {
    box-shadow: 10px 10px 0px 2px var(--color-100)
}

.box-desktop-solid-shadow {
    box-shadow: 12px 12px 0px 1px var(--color-100)
}

.box-mobile-solid-shadow {
    box-shadow: 6px 6px 0px 0.5px var(--color-100)
}

.box-solid-shadow-anim:active {
    box-shadow: 7px 7px 0px 1px var(--color-100)
}

.box-mobile-solid-shadow-anim:active {
    box-shadow: 3px 3px 0px 0.5px var(--color-100)
}

/* Button animation */

.button-click-anim-1:active {
    margin-top: -3px;
    scale: 0.96;
}

.button-click-anim-2:active {
    transform: translateY(5px);
}


/* Mobile hamburger */

#menu-label div {
    transition: transform 0.2s, margin-top 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
}

:checked + #menu-label div {
    transition: transform 0.2s linear 0.2s, margin-top 0.2s, opacity 0.2s;
}

:checked + #menu-label div:nth-child(1) {
    transform: rotate(-45deg);
    margin-top: 10px;
}

:checked + #menu-label div:nth-child(2) {
    opacity: 0;
    margin-top: -10px;
}

:checked + #menu-label div:nth-child(3) {
    transform: rotate(45deg);
    margin-top: 1.5px;
}

/* Mobile menu */

.mobileMenuOpen {
    left: 0px;
}

/* Selection */

::selection {
    color: var(--color-100);
    background: var(--color-accent);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 15px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-700);
    border-radius: 10px;
    border: 5px solid var(--color-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}