@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override rem size */

:root {
    font-size: 11.2px;
}

/* Root variables */

:root {
    --color-900: #f3f3f3;
    --color-800: #151a21;
    --color-700: #242c37;
    --color-600: #1e1e36;
    --color-300: #5d7290;
    --color-200: #b2bdcd;
    --color-100: #151a21;

    --color-accent: #49b583;
}

/* Body */

body {
    font-family: "poppins", "Montserrat", sans-serif;
    overscroll-behavior-y: contain;
    background-color: var(--color-900);
    color: var(--color-100);
    overflow: hidden;       
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
    user-select: none;
}

img {
    user-select: none;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

/* Tailwind like classes */

.bg-900 {
    background-color: var(--color-900);
}

.bg-800 {
    background-color: var(--color-800);
}

.bg-700 {
    background-color: var(--color-700);
}

.border-600{
    border-color: var(--color-600);
}

.color-100 {
    color: var(--color-100);
}

.color-200 {
    color: var(--color-200);
}

.color-accent {
    color: var(--color-accent);
}

.bg-accent {
    background-color: var(--color-accent);
}

.aspect-11\/6{
    aspect-ratio: 11 / 6;
}

.flex-2{
    flex: 2
}

.rounded-35{
    border-radius: 35px;
}

.bg-gradient{
    background: radial-gradient(50.05% 97.16% at 100% 100%, #FF9EBE 20.83%, rgba(255, 158, 190, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(50% 95.86% at 0% 0%, #AEFFBE 29.17%, rgba(174, 255, 190, 0.21) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(50.05% 97.16% at 100% 0%, #94FFF1 31.25%, rgba(148, 255, 241, 0.27) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(50% 96.98% at 0% 100%, #FFE48A 26.04%, rgba(255, 228, 138, 0.21) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
}


/* Tailwind shortcut */

[page] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-900);
}

/* Petite vue */

[v-cloak] {
    display: none;
}

/* Selection */

::selection {
    color: var(--color-100);
    background: var(--color-accent);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 15px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-700);
    border-radius: 10px;
    border: 5px solid var(--color-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}