@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override rem size */

:root {
    font-size: 11.2px;
}

/* Root variables */

:root {
    --color-900: #f3f3f3;
    --color-800: #151a21;
    --color-700: #242c37;
    --color-600: #1e1e36;
    --color-300: #5d7290;
    --color-200: #b2bdcd;
    --color-100: #151a21;

    --color-accent: #49b583;
}

/* Body */

body {
    font-family: "poppins", "Montserrat", sans-serif;
    overscroll-behavior-y: contain;
    background-color: var(--color-900);
    color: var(--color-100);
    overflow: hidden;       
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
    user-select: none;
}

img {
    user-select: none;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

/* Tailwind like classes */

.bg-900 {
    background-color: var(--color-900);
}

.bg-800 {
    background-color: var(--color-800);
}

.bg-700 {
    background-color: var(--color-700);
}

.border-600{
    border-color: var(--color-600);
}

.color-100 {
    color: var(--color-100);
}

.color-200 {
    color: var(--color-200);
}

.color-accent {
    color: var(--color-accent);
}

.bg-accent {
    background-color: var(--color-accent);
}

.aspect-11\/6{
    aspect-ratio: 11 / 6;
}

.flex-2{
    flex: 2
}

.rounded-35{
    border-radius: 35px;
}

.text-600{
    color: var(--color-600);
}

.align-center{
    align-items: center;
}

.box-shadow{
    box-shadow: 0 10px var(--color-600);
}

.bg-gradient{
    background: radial-gradient(100% 100% at 100% 100%, #EA9696 0%, rgba(234, 150, 150, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(100% 100% at 0% 100%, #97E89B 0%, rgba(151, 232, 155, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(100% 100% at 100% 0%, #EADC96 0%, rgba(234, 220, 150, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(100.82% 100.82% at 0% 0%, #96E9ED 0%, rgba(150, 233, 237, 0) 100%)}


/* Tailwind shortcut */

[page] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-900);
}

/* Petite vue */

[v-cloak] {
    display: none;
}

/* Selection */

::selection {
    color: var(--color-100);
    background: var(--color-accent);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 15px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-700);
    border-radius: 10px;
    border: 5px solid var(--color-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}